header, #blue {
	background-color:		#a5d2dd;
}

li {
	display: 				inline-block;
}

header ul {
	float: 					right;
	color: 					#3b4f57;
	padding-right: 			10%;
}

header a {
	color: 					#3b4f57;
}

.logo {
	padding-left: 			100px;
	font-size: 				20px;
	padding-top: 			20px;
}

#blue {
	color: 					white;
	font-size: 				40px;
	padding-top: 			100px;
	text-align: 			center;
}

#blue li {
	width: 					40%;
	text-align: 			center;
}

#blue li:nth-child(2) {
	text-align: 			left;
}

#blue img {
	text-align: 			left;
}

/*cant make the background white. when setting a height, it destroys the inline block characteristic*/
#white {
	width: 					90%;
	margin: 				5%;
	background-color: 		white;
}


#green {
	background-color: 		#98d5a2;
}
 
/*
cant allign the h1 in green section at the center of the document*/




/*cant text allign or margin 0 auto the nav, no matter the selector */
#green nav {
	text-align: 			center;
}

#green img {
	max-height: 			160px;
}

/*why dont list items display next to one another? */
#grey {
	background-color: 		#f1f1f1;
}

#grey img {
	width: 					50%;
}

#grey li {
	width: 					40%;
}

#pink {
	background-color:		#dfb5c5;
	text-align: 			center;
	padding: 				3% 10%;
}

#pink li {
	width: 					30%;
}

footer {
	background-color: 		black;
	color: 					white;
	text-align: 			center;
	padding-top: 			2%;
	padding-bottom: 		5%;
}

footer textarea, footer input {
	display: 				block;
	width: 					350px;
	margin: 				10px auto;
}

footer button {
	color: 					black;
	border-radius: 			10px;
	outline-style: 			none;
}